.root {
    -fx-background-color: #111111;
}

#wrongPassword, #statusLblUser, #statusLblPass, #statusLblPic {
    -fx-text-fill: #ff0000;
}

.button {
    -fx-background-color: #d9190b;
    -fx-text-fill: white;
    -fx-background-radius: 20;
}

.button:hover {
    -fx-background-color: #f73325;
}